@model DotNet5_CRUD.Models.CreateOrUpdateAuthorViewModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="row">
    <div class="col-12 text-right">
        <a href="@Url.Action("Author")" class="btn btn-success"><i class="bi bi-list-ol"></i> List Author</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <form method="post" autocomplete="off">
            @Html.AntiForgeryToken()
            <input asp-for="Id" />

            <div class="form-group">
                @Html.LabelFor(m => m.FullName)
                <input type="text" asp-for="FullName" class="form-control">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>